.card {
  max-height: 50rem;
  &:hover {
    border-color: lightblue;
  }
  &-text {
    color: var(--color-secondary);
    font-size: var(--font-small);
  }
  &-img-top {
    height: 25rem;
  }
  &__cast {
    font-size: small;
  }
}
