<div class="card p-1 d-flex h-100">
  <div class="position-relative">
    <img [src]="movie.cover" class="card-img-top" alt="Missing Image">
    <div class="position-absolute top-0 mt-2">
      <span class="badge bg-dark m-1" *ngFor="let genre of movie.genres">
        {{genre}}
      </span>
    </div>
    <div class="position-absolute bottom-0">
      <app-reel-rating></app-reel-rating>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{movie.title}}</h4>
    <div class="card__cast"><b>Starring:</b> {{movie.cast}}</div>
  </div>
  <div class="card-footer">
    <p class="card-text">{{movie.description}}</p>
  </div>
</div>
