@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("./assets/fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Domine", serif;
  src: url("./assets/fonts/Domine/Domine.ttf");
}

* {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

:root {
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Domine", serif;
  --color-primary: #333;
  --color-secondary: darkgray;
  --font-large: 18px;
  --font-small: 14px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
