input {
  height: 3rem;
  border-radius: 3rem;
  border: 2px solid #ebebeb;
  padding: 2px 1.5rem;
  outline: none;
  width: min(100%, 25rem);
  &::placeholder {
    color: var(--color-secondary);
  }
  &:focus,
  &:hover,
  &:active,
  &:focus-visible {
    border-color: lightblue;
  }
}
